{% import "partials/signature.md.jinja" as sig %}
{% set comment = gen.comment(symbol) %}
{{ level | heading }} {{ gen.label(symbol) }} `{{ gen.heading_name(symbol) }}`

{% set bases = gen.bases(symbol) %}
{% if bases %}
**Inherits from** {% for base in bases %}{{ xref(base) }}{{ ", " if not loop.last }}{% endfor %}.

{% endif %}
{% set friends = gen.friends(symbol) %}
{% if friends %}
**Friends** {% for friend in friends %}{{ xref(friend) }}{{ ", " if not loop.last }}{% endfor %}.

{% endif %}
{% set related = gen.related(symbol) %}
{% if related %}
**Related functions** {% for fn in related %}{{ xref(fn) }}{{ ", " if not loop.last }}{% endfor %}.

{% endif %}
{% set body = render_comment(comment) %}
{% set fence = gen.fence(body) %}
{{ fence }}{{ "{" ~ gen.directive(symbol) ~ "}" }} {{ sig.directive_argument(symbol) }}

{{ body }}
{{ fence }}
{% for child in gen.children(symbol) %}

{{ gen.render_symbol(child, level=level + 1) }}
{% endfor %}
