{% import "partials/signature.md.jinja" as sig %}
{% set comment = gen.comment(symbol) %}
{% set fields = field_list(comment) %}
{% set body = render_comment(comment) %}
{% set fence = gen.fence(body, fields) %}
{{ level | heading }} {{ gen.label(symbol) }} `{{ symbol.qualified_name }}`

{{ fence }}{{ "{" ~ gen.directive(symbol) ~ "}" }} {{ sig.directive_argument(symbol) }}

{{ body }}
{% if fields %}

{{ fields }}
{% endif %}
{{ fence }}
