{% import "partials/signature.md.jinja" as sig %}
{% set comment = gen.comment(symbol) %}
{{ "#" * level }} {{ gen.label(symbol) }} `{{ symbol.qualified_name }}`

```{{ "{" ~ gen.directive(symbol) ~ "}" }} {{ sig.directive_argument(symbol) }}

{{ render_comment(comment) }}
```
